@{
    ViewBag.Title = "Index";
}


@section styles {
    @Styles.Render("~/Content/Stylesheets/Index.css")
}

<div>
    @if (ViewBag.User != null)
    {
        //VOZAC//
        if (ViewBag.User.Uloga_Korisnika == Projekat.Models.Korisnik.Uloga.Vozac)
        {
            if (ViewBag.User.Lokacija == null)
            {
                <p>Vasa trenutna lokacija je: Garaza </p>

            }
            else
            {
                <p>Vasa trenutna lokacija je: @ViewBag.User.Lokacija </p>


            }

            <h3>Unesite Novu lokaciju:</h3>
            <form action="/AddLocation"   method="POST">
                <div class="input-padded">
                    <label for="input-username">Adresa:</label>
                    <input id="input-username" name="adresa" type="text" placeholder="nova adresa"  required />
                </div>

                <div class="input-padded">
                    <label for="input-password">X-koordinata:</label>
                    <input id="input-password" name="x" type="text"  required />
                </div>

                <div class="input-padded">
                    <label for="input-first-name">Y-koordinata</label>
                    <input id="input-first-name" name="y" type="text"  required />
                </div>

                

                <input type="submit" value="Dodaj" />
            </form>
            //-----------------------------------------------------------------------//




        }

        if (ViewBag.User.Uloga_Korisnika == Projekat.Models.Korisnik.Uloga.Musterija)
        {
            <a class="horizontal" href="/VoznjaMusterija">Zahtev za voznju</a>
            
            <h3>Pregled voznji:</h3>
            <form action="/Forma" method="POST">
                <table border="1">
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Datum
                        </td>
                        <td>
                            Lokacija
                        </td>
                        <td>
                            Tip
                        </td>
                        <td>
                            Musterija
                        </td>
                        <td>
                            Odrediste
                        </td>
                        <td>
                            Dispecer
                        </td>
                        <td>
                            Vozac
                        </td>
                        <td>
                            iznos
                        </td>
                        <td>
                            Komentar
                        </td>
                        <td>
                            Status Voznje
                        </td>
                        
                    </tr> @foreach (var item in ViewBag.Voznje)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Datum_Vreme
                            </td>
                            <td>
                                @item.Lokacija
                            </td>
                            <td>
                                @item.Tip
                            </td>
                            <td>
                                @item.Musterija
                            </td>
                            <td>
                                @item.Odrediste
                            </td>
                            <td>
                                @item.Dispecer
                            </td>
                            <td>
                                @item.Vozac
                            </td>
                            <td>
                                @item.Iznos
                            </td>
                            <td>
                                @item.Komentar
                            </td>
                            <td>
                                @item.Status_Voznje
                            </td>
                            @if (item.Status_Voznje == 0)
                        {
                                <td>
                                   @Html.ActionLink("Izmeni", "IzmeniVoznju", new { id = item.Id })
                                </td>
                                <td>
                                    @Html.ActionLink("Otkazi", "OtkaziVoznju", new { id = item.Id })
                                </td>

                            }
                        </tr>
                    }
                </table>
            </form>

        }

    }
</div>


