@{
    ViewBag.Title = "Index";
}


@section styles {
    @Styles.Render("~/Content/Stylesheets/Index.css")
}

<div>
    @if (ViewBag.User != null)
    {
        //VOZAC//
        if (ViewBag.User.Uloga_Korisnika == Projekat.Models.Korisnik.Uloga.Vozac)
        {
            if (ViewBag.User.Lokacija == null)
            {
                <p>Vasa trenutna lokacija je: Garaza </p>

            }
            else
            {
                <p>Vasa trenutna lokacija je: @ViewBag.User.Lokacija </p>


            }

            <h3>Unesite Novu lokaciju:</h3>
            <form action="/AddLocation"   method="POST">
                <div class="input-padded">
                    <label for="input-username">Adresa:</label>
                    <input id="input-username" name="adresa" type="text" placeholder="nova adresa"  required />
                </div>

                <div class="input-padded">
                    <label for="input-password">X-koordinata:</label>
                    <input id="input-password" name="x" type="text"  required />
                </div>

                <div class="input-padded">
                    <label for="input-first-name">Y-koordinata</label>
                    <input id="input-first-name" name="y" type="text"  required />
                </div>

                

                <input type="submit" value="Dodaj" />
            </form>
            //-----------------------------------------------------------------------//




        }

        if (ViewBag.User.Uloga_Korisnika == Projekat.Models.Korisnik.Uloga.Musterija)
        {
            <a class="horizontal" href="/VoznjaMusterija">Zahtev za voznju</a>
            
            <h3>Pregled voznji:</h3>
            <form action="/Forma" method="POST">
                <table border="1">
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Datum
                        </td>
                        <td>
                            Lokacija
                        </td>
                        <td>
                            Tip
                        </td>
                        <td>
                            Musterija
                        </td>
                        <td>
                            Odrediste
                        </td>
                        <td>
                            Dispecer
                        </td>
                        <td>
                            Vozac
                        </td>
                        <td>
                            iznos
                        </td>
                        <td>
                            Status Voznje
                        </td>
                        <td>
                            Komentar napisao
                        </td>
                        <td>
                            Tekst
                        </td>
                        <td>
                            Ocena
                        </td>
                        <td>
                            Datum 
                        </td>
                        <td colspan="2">
                            Opcije
                        </td>
                    </tr> @foreach (var item in ViewBag.Voznje)
                    {
                        int brojac = 0;
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Datum_Vreme
                            </td>
                            <td>
                                @item.Lokacija
                            </td>
                            <td>
                                @item.Tip
                            </td>
                            <td>
                                @item.Musterija
                            </td>
                            <td>
                                @item.Odrediste
                            </td>
                            <td>
                                @item.Dispecer
                            </td>
                            <td>
                                @item.Vozac
                            </td>
                            <td>
                                @item.Iznos
                            </td>
                            <td>
                                @item.Status_Voznje
                            </td>
                           
                                @foreach (var k in ViewBag.Komentari)
                                {
                                    brojac++;
                                    if (k.Voznja == item.Id)
                                    {


                            <td>
                                @k.Korisnik
                            </td>
                            <td>
                                @k.Opis
                            </td>
                            <td>
                                @k.Ocena
                            </td>
                            <td>
                                @k.Datum
                            </td>
                                        break;
                                    }
                                    else if(brojac == ViewBag.Komentari.Count)
                                    {

                                        <td>
                                            /
                                        </td>
                                        <td>
                                            /
                                        </td>
                                        <td>
                                            /
                                        </td>
                                        <td>
                                            /
                                        </td>
                                        break;

                                    }
                                }

                            @if (item.Status_Voznje == 0)
                        {
                                <td>
                                   @Html.ActionLink("Izmeni", "IzmeniVoznju", new { id = item.Id })
                                </td>
                                <td>
                                    @Html.ActionLink("Otkazi", "OtkaziVoznju", new { id = item.Id  })
                                </td>

                            }
                        </tr>
                    }
                </table>
            </form>

        }
        if (ViewBag.User.Uloga_Korisnika == Projekat.Models.Korisnik.Uloga.Dispecer)
        {


              <a class="horizontal" href="/AddVoznjaDispecer">Formiraj voznju</a>

            <h3>Pregled vasih voznji:</h3>
            <form action="/Forma" method="POST">
                <table border="1">
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Datum
                        </td>
                        <td>
                            Lokacija
                        </td>
                        <td>
                            Tip
                        </td>
                        <td>
                            Musterija
                        </td>
                        <td>
                            Odrediste
                        </td>
                        <td>
                            Dispecer
                        </td>
                        <td>
                            Vozac
                        </td>
                        <td>
                            iznos
                        </td>
                        <td>
                            Status Voznje
                        </td>
                        <td>
                            Komentar napisao
                        </td>
                        <td>
                            Tekst
                        </td>
                        <td>
                            Ocena
                        </td>
                        <td>
                            Datum
                        </td>
                        
                    </tr> @foreach (var item in ViewBag.Voznje)
                    {
                        int brojac = 0;
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Datum_Vreme
                            </td>
                            <td>
                                @item.Lokacija
                            </td>
                            <td>
                                @item.Tip
                            </td>
                            <td>
                                @item.Musterija
                            </td>
                            <td>
                                @item.Odrediste
                            </td>
                            <td>
                                @item.Dispecer
                            </td>
                            <td>
                                @item.Vozac
                            </td>
                            <td>
                                @item.Iznos
                            </td>
                            <td>
                                @item.Status_Voznje
                            </td>

                            @foreach (var k in ViewBag.Komentari)
                            {
                                brojac++;
                                if (k.Voznja == item.Id)
                                {


                                    <td>
                                        @k.Korisnik
                                    </td>
                                    <td>
                                        @k.Opis
                                    </td>
                                    <td>
                                        @k.Ocena
                                    </td>
                                    <td>
                                        @k.Datum
                                    </td>
                                    break;
                                }
                                else if (brojac == ViewBag.Komentari.Count)
                                {

                                    <td>
                                        /
                                    </td>
                                        <td>
                                            /
                                        </td>
                                        <td>
                                            /
                                        </td>
                                        <td>
                                            /
                                        </td>
                                    break;

                                }
                            }

                            
                        </tr>
                    }
                </table>
            </form>

            <h3>Sve voznje u sistemu:</h3>
            <form action="/Forma" method="POST">
                <table border="1">
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Datum
                        </td>
                        <td>
                            Lokacija
                        </td>
                        <td>
                            Tip
                        </td>
                        <td>
                            Musterija
                        </td>
                        <td>
                            Odrediste
                        </td>
                        <td>
                            Dispecer
                        </td>
                        <td>
                            Vozac
                        </td>
                        <td>
                            iznos
                        </td>
                        <td>
                            Status Voznje
                        </td>
                        <td>
                            Komentar napisao
                        </td>
                        <td>
                            Tekst
                        </td>
                        <td>
                            Ocena
                        </td>
                        <td>
                            Datum
                        </td>
                        <td>
                            Dodaj vozaca
                        </td>
                    </tr> @foreach (var item in ViewBag.VoznjeSve)
                    {
                        int brojac = 0;
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Datum_Vreme
                            </td>
                            <td>
                                @item.Lokacija
                            </td>
                            <td>
                                @item.Tip
                            </td>
                            <td>
                                @item.Musterija
                            </td>
                            <td>
                                @item.Odrediste
                            </td>
                            <td>
                                @item.Dispecer
                            </td>
                            <td>
                                @item.Vozac
                            </td>
                            <td>
                                @item.Iznos
                            </td>
                            <td>
                                @item.Status_Voznje
                            </td>

                            @foreach (var k in ViewBag.Komentari)
                            {
                                brojac++;
                                if (k.Voznja == item.Id)
                                {


                                    <td>
                                        @k.Korisnik
                                    </td>
                                    <td>
                                        @k.Opis
                                    </td>
                                    <td>
                                        @k.Ocena
                                    </td>
                                    <td>
                                        @k.Datum
                                    </td>
                                    break;
                                }
                                else if (brojac == ViewBag.Komentari.Count)
                                {

                                    <td>
                                        /
                                    </td>
                                    <td>
                                        /
                                    </td>
                                        <td>
                                            /
                                        </td>
                                        <td>
                                            /
                                        </td>
                                    break;

                                }
                            }
                            @if (item.Vozac == "/")
                        {
                              
                                <td>
                                    @Html.ActionLink("Dodeli vozaca", "DodeliVozaca", new { id = item.Id })


                                    
                                </td>

                            }

                        </tr>
                    }
                </table>
            </form>
        }
    }
</div>


