@{
    ViewBag.Title = "Index";
}


@section styles {
    @Styles.Render("~/Content/Stylesheets/Index.css")
}

<div>
    @if (ViewBag.User != null)
    {
        //VOZAC//
        if (ViewBag.User.Uloga_Korisnika == Projekat.Models.Korisnik.Uloga.Vozac)
        {
            if (ViewBag.User.Lokacija == null)
            {
                <p>Vasa trenutna lokacija je: Garaza </p>

            }
            else
            {
                <p>Vasa trenutna lokacija je: @ViewBag.User.Lokacija </p>


            }
            <a class="horizontal" href="/AddLocation">Unesite vasu novu lokaciju</a>


            <h3>Pregled vasih voznji:</h3>
            <form action="/Filtriraj" method="POST">
                <table border="1">
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Datum
                        </td>
                        <td>
                            Lokacija
                        </td>
                        <td>
                            Tip
                        </td>
                        <td>
                            Musterija
                        </td>
                        <td>
                            Odrediste
                        </td>
                        <td>
                            Dispecer
                        </td>
                        <td>
                            Vozac
                        </td>
                        <td>
                            iznos
                        </td>
                        <td>
                            Status Voznje
                        </td>
                        <td>
                            Komentar napisao
                        </td>
                        <td>
                            Tekst
                        </td>
                        <td>
                            Ocena
                        </td>
                        <td>
                            Datum
                        </td>
                        <td colspan="2">
                            Opcije
                        </td>

                    </tr> @foreach (var item in ViewBag.Voznje)
                    {
                        int brojac = 0;
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Datum_Vreme
                            </td>
                            <td>
                                @item.Lokacija
                            </td>
                            <td>
                                @item.Tip
                            </td>
                            <td>
                                @item.Musterija
                            </td>
                            <td>
                                @item.Odrediste
                            </td>
                            <td>
                                @item.Dispecer
                            </td>
                            <td>
                                @item.Vozac
                            </td>
                            <td>
                                @item.Iznos
                            </td>
                            <td>
                                @item.Status_Voznje
                            </td>

                            @foreach (var k in ViewBag.Komentari)
                            {
                                brojac++;
                                if (k.Voznja == item.Id)
                                {


                                    <td>
                                        @k.Korisnik
                                    </td>
                                    <td>
                                        @k.Opis
                                    </td>
                                    <td>
                                        @k.Ocena
                                    </td>
                                    <td>
                                        @k.Datum
                                    </td>
                                    break;
                                }
                                else if (brojac == ViewBag.Komentari.Count)
                                {

                                    <td>
                                        /
                                    </td>
                                    <td>
                                        /
                                    </td>
                                        <td>
                                            /
                                        </td>
                                        <td>
                                            /
                                        </td>
                                    break;

                                }
                            }
                            @if ((int)item.Status_Voznje == 3 || (int)item.Status_Voznje == 2 || (int)item.Status_Voznje == 1)
                        {
                                <td>
                                    @Html.ActionLink("Neuspesna", "Neuspesna", new { id = item.Id })
                                </td>
                                <td>
                                    @Html.ActionLink("Uspesna", "Uspesna", new { id = item.Id })
                                </td>

                            }
                            else
                            {

                                <td>
                                    /
                                </td>
                                <td>
                                    /
                                </td>
                            }

                        </tr>
                    }
                        <tr>

                            <td>
                                <div class="input-padded">
                                    <label class="padded-right" for="input-kind">Status</label>
                                    <select id="input-kind" name="status" required>
                                        <option value="0">Kreirana</option>
                                        <option value="1">Formirana</option>
                                        <option value="2">Obradjena</option>
                                        <option value="3">Prihvacena</option>
                                        <option value="4">Otkazana</option>
                                        <option value="5">Neuspesna</option>
                                        <option value="6">Uspesna</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <input type="submit" value="Filtriraj" />

                            </td>
                       </tr>
                    
                </table>
            </form>

            <h3>Pregled svih kreiranih voznji u sistemu:</h3>
            <form action="/Forma" method="POST">
                <table border="1">
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Datum
                        </td>
                        <td>
                            Lokacija
                        </td>
                        <td>
                            Tip
                        </td>
                        <td>
                            Musterija
                        </td>
                        <td>
                            Odrediste
                        </td>
                        <td>
                            Dispecer
                        </td>
                        <td>
                            Vozac
                        </td>
                        <td>
                            iznos
                        </td>
                        <td>
                            Status Voznje
                        </td>
                        <td>
                            Komentar napisao
                        </td>
                        <td>
                            Tekst
                        </td>
                        <td>
                            Ocena
                        </td>
                        <td>
                            Datum
                        </td>
                        <td colspan="1">
                            Opcije
                        </td>

                    </tr> @foreach (var item in ViewBag.VoznjeSve)
                    {
                        int brojac = 0;
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Datum_Vreme
                            </td>
                            <td>
                                @item.Lokacija
                            </td>
                            <td>
                                @item.Tip
                            </td>
                            <td>
                                @item.Musterija
                            </td>
                            <td>
                                @item.Odrediste
                            </td>
                            <td>
                                @item.Dispecer
                            </td>
                            <td>
                                @item.Vozac
                            </td>
                            <td>
                                @item.Iznos
                            </td>
                            <td>
                                @item.Status_Voznje
                            </td>

                            @foreach (var k in ViewBag.Komentari)
                            {
                                brojac++;
                                if (k.Voznja == item.Id)
                                {


                                    <td>
                                        @k.Korisnik
                                    </td>
                                    <td>
                                        @k.Opis
                                    </td>
                                    <td>
                                        @k.Ocena
                                    </td>
                                    <td>
                                        @k.Datum
                                    </td>
                                    break;
                                }
                                else if (brojac == ViewBag.Komentari.Count)
                                {

                                    <td>
                                        /
                                    </td>
                                    <td>
                                        /
                                    </td>
                                    <td>
                                        /
                                    </td>
                                        <td>
                                            /
                                        </td>
                                    break;

                                }
                            }
                            @if ((int)item.Status_Voznje == 0)
                        {
                                <td>
                                    @Html.ActionLink("Prihvati Voznju", "PrihvatiVoznju", new { id = item.Id })
                                </td>
                               

                            }

                        </tr>
                    }


                </table>
            </form>

            //-----------------------------------------------------------------------//




        }

        if (ViewBag.User.Uloga_Korisnika == Projekat.Models.Korisnik.Uloga.Musterija)
        {
            <a class="horizontal" href="/VoznjaMusterija">Zahtev za voznju</a>
            
            <h3>Pregled voznji:</h3>
            <form action="/Filtriraj2" method="POST">
                <table border="1">
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Datum
                        </td>
                        <td>
                            Lokacija
                        </td>
                        <td>
                            Tip
                        </td>
                        <td>
                            Musterija
                        </td>
                        <td>
                            Odrediste
                        </td>
                        <td>
                            Dispecer
                        </td>
                        <td>
                            Vozac
                        </td>
                        <td>
                            iznos
                        </td>
                        <td>
                            Status Voznje
                        </td>
                        <td>
                            Komentar napisao
                        </td>
                        <td>
                            Tekst
                        </td>
                        <td>
                            Ocena
                        </td>
                        <td>
                            Datum 
                        </td>
                        <td colspan="2">
                            Opcije
                        </td>
                    </tr> @foreach (var item in ViewBag.Voznje)
                    {
                        int brojac = 0;
                        string coment = "/";
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Datum_Vreme
                            </td>
                            <td>
                                @item.Lokacija
                            </td>
                            <td>
                                @item.Tip
                            </td>
                            <td>
                                @item.Musterija
                            </td>
                            <td>
                                @item.Odrediste
                            </td>
                            <td>
                                @item.Dispecer
                            </td>
                            <td>
                                @item.Vozac
                            </td>
                            <td>
                                @item.Iznos
                            </td>
                            <td>
                                @item.Status_Voznje
                            </td>
                           
                                @foreach (var k in ViewBag.Komentari)
                                {
                                    brojac++;
                                    if (k.Voznja == item.Id)
                                    {

                                        coment = k.Opis;
                            <td>
                                @k.Korisnik
                            </td>
                            <td>
                                @k.Opis
                            </td>
                            <td>
                                @k.Ocena
                            </td>
                            <td>
                                @k.Datum
                            </td>
                                        break;
                                    }
                                    else if(brojac == ViewBag.Komentari.Count)
                                    {

                                        <td>
                                            /
                                        </td>
                                        <td>
                                            /
                                        </td>
                                        <td>
                                            /
                                        </td>
                                        <td>
                                            /
                                        </td>
                                        break;

                                    }
                                }

                            @if ((int)item.Status_Voznje == 0)
                        {
                                <td>
                                   @Html.ActionLink("Izmeni", "IzmeniVoznju", new { id = item.Id })
                                </td>
                                <td>
                                    @Html.ActionLink("Otkazi", "OtkaziVoznju", new { id = item.Id  })
                                </td>

                            }
                            else if ((int)item.Status_Voznje == 6 && coment == "/")
                            {

                                <td>
                                    @Html.ActionLink("Dodaj Komentar", "KomentarUspesna", new { id = item.Id })
                                </td>
                                <td>
                                    /
                                </td>
                            }
                            else
                            {

                                <td>
                                    /
                                </td>
                                <td>
                                    /
                                </td>
                            }
                        </tr>
                    }
                    <tr>

                        <td>
                            <div class="input-padded">
                                <label class="padded-right" for="input-kind">Status</label>
                                <select id="input-kind" name="status" required>
                                    <option value="0">Kreirana</option>
                                    <option value="1">Formirana</option>
                                    <option value="2">Obradjena</option>
                                    <option value="3">Prihvacena</option>
                                    <option value="4">Otkazana</option>
                                    <option value="5">Neuspesna</option>
                                    <option value="6">Uspesna</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input type="submit" value="Filtriraj" />

                        </td>
                    </tr>
                </table>
            </form>

        }
        if (ViewBag.User.Uloga_Korisnika == Projekat.Models.Korisnik.Uloga.Dispecer)
        {


              <a class="horizontal" href="/AddVoznjaDispecer">Formiraj voznju</a>

            <h3>Pregled vasih voznji:</h3>
            <form action="/Filtriraj3" method="POST">
                <table border="1">
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Datum
                        </td>
                        <td>
                            Lokacija
                        </td>
                        <td>
                            Tip
                        </td>
                        <td>
                            Musterija
                        </td>
                        <td>
                            Odrediste
                        </td>
                        <td>
                            Dispecer
                        </td>
                        <td>
                            Vozac
                        </td>
                        <td>
                            iznos
                        </td>
                        <td>
                            Status Voznje
                        </td>
                        <td>
                            Komentar napisao
                        </td>
                        <td>
                            Tekst
                        </td>
                        <td>
                            Ocena
                        </td>
                        <td>
                            Datum
                        </td>
                        
                    </tr> @foreach (var item in ViewBag.Voznje)
                    {
                        int brojac = 0;
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Datum_Vreme
                            </td>
                            <td>
                                @item.Lokacija
                            </td>
                            <td>
                                @item.Tip
                            </td>
                            <td>
                                @item.Musterija
                            </td>
                            <td>
                                @item.Odrediste
                            </td>
                            <td>
                                @item.Dispecer
                            </td>
                            <td>
                                @item.Vozac
                            </td>
                            <td>
                                @item.Iznos
                            </td>
                            <td>
                                @item.Status_Voznje
                            </td>

                            @foreach (var k in ViewBag.Komentari)
                            {
                                brojac++;
                                if (k.Voznja == item.Id)
                                {


                                    <td>
                                        @k.Korisnik
                                    </td>
                                    <td>
                                        @k.Opis
                                    </td>
                                    <td>
                                        @k.Ocena
                                    </td>
                                    <td>
                                        @k.Datum
                                    </td>
                                    break;
                                }
                                else if (brojac == ViewBag.Komentari.Count)
                                {

                                    <td>
                                        /
                                    </td>
                                        <td>
                                            /
                                        </td>
                                        <td>
                                            /
                                        </td>
                                        <td>
                                            /
                                        </td>
                                    break;

                                }
                            }

                            
                        </tr>
                    }
                    <tr>

                        <td>
                            <div class="input-padded">
                                <label class="padded-right" for="input-kind">Status</label>
                                <select id="input-kind" name="status" required>
                                    <option value="0">Kreirana</option>
                                    <option value="1">Formirana</option>
                                    <option value="2">Obradjena</option>
                                    <option value="3">Prihvacena</option>
                                    <option value="4">Otkazana</option>
                                    <option value="5">Neuspesna</option>
                                    <option value="6">Uspesna</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input type="submit" value="Filtriraj" />

                        </td>
                    </tr>
                </table>
            </form>

            <h3>Sve voznje u sistemu:</h3>
            <form action="/Filtriraj4" method="POST">
                <table border="1">
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Datum
                        </td>
                        <td>
                            Lokacija
                        </td>
                        <td>
                            Tip
                        </td>
                        <td>
                            Musterija
                        </td>
                        <td>
                            Odrediste
                        </td>
                        <td>
                            Dispecer
                        </td>
                        <td>
                            Vozac
                        </td>
                        <td>
                            iznos
                        </td>
                        <td>
                            Status Voznje
                        </td>
                        <td>
                            Komentar napisao
                        </td>
                        <td>
                            Tekst
                        </td>
                        <td>
                            Ocena
                        </td>
                        <td>
                            Datum
                        </td>
                        <td>
                            Dodaj vozaca
                        </td>
                    </tr> @foreach (var item in ViewBag.VoznjeSve)
                    {
                        int brojac = 0;
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Datum_Vreme
                            </td>
                            <td>
                                @item.Lokacija
                            </td>
                            <td>
                                @item.Tip
                            </td>
                            <td>
                                @item.Musterija
                            </td>
                            <td>
                                @item.Odrediste
                            </td>
                            <td>
                                @item.Dispecer
                            </td>
                            <td>
                                @item.Vozac
                            </td>
                            <td>
                                @item.Iznos
                            </td>
                            <td>
                                @item.Status_Voznje
                            </td>

                            @foreach (var k in ViewBag.Komentari)
                            {
                                brojac++;
                                if (k.Voznja == item.Id)
                                {


                                    <td>
                                        @k.Korisnik
                                    </td>
                                    <td>
                                        @k.Opis
                                    </td>
                                    <td>
                                        @k.Ocena
                                    </td>
                                    <td>
                                        @k.Datum
                                    </td>
                                    break;
                                }
                                else if (brojac == ViewBag.Komentari.Count)
                                {

                                    <td>
                                        /
                                    </td>
                                    <td>
                                        /
                                    </td>
                                        <td>
                                            /
                                        </td>
                                        <td>
                                            /
                                        </td>
                                    break;

                                }
                            }
                            @if (item.Vozac == "/")
                        {
                              
                                <td>
                                    @Html.ActionLink("Dodeli vozaca", "DodeliVozaca", new { id = item.Id })


                                    
                                </td>

                            }
                            else
                            {

                                <td>
                                    /
                                </td>
                               
                            }

                        </tr>
                    }
                    <tr>

                        <td>
                            <div class="input-padded">
                                <label class="padded-right" for="input-kind">Status</label>
                                <select id="input-kind" name="status" required>
                                    <option value="0">Kreirana</option>
                                    <option value="1">Formirana</option>
                                    <option value="2">Obradjena</option>
                                    <option value="3">Prihvacena</option>
                                    <option value="4">Otkazana</option>
                                    <option value="5">Neuspesna</option>
                                    <option value="6">Uspesna</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input type="submit" value="Filtriraj" />

                        </td>
                    </tr>
                </table>
            </form>
        }
    }
</div>


